#social-container
{
  min-height: 100vh;
}

#social
{
  background-color: MediumAquamarine;
  text-align: center;
  font-size: 2rem;
  line-height: 1.5;
  padding-top: 0.333em;
}

#social .fa
{
  text-decoration: none;
}
